{% extends 'base.html' %}

{% block content %}
  <h1>Welcome, {{ user.username }}!</h1>
  <h2>Dashboard</h2>
  <ul>
    <li><a href="{% url 'patient_list' %}">Manage Patients</a></li>
    
    {% if not user.groups.all|join:", "|lower == "patientmanager" %}
      <li><a href="{% url 'doctor_list' %}">Manage Doctors</a></li>
      <li><a href="{% url 'department_list' %}">Manage Departments</a></li>
    {% endif %}
    
    <li><a href="{% url 'appointment_list' %}">Manage Appointments</a></li>
    <li><a href="{% url 'billing_list' %}">Manage Billing</a></li>
  </ul>
{% endblock %}

