{% extends 'base.html' %}

{% block content %}
<h2>Doctors</h2>

{% if not user.groups.all|join:", "|lower == "patientmanager" %}
  <a href="{% url 'add_doctor' %}">Add Doctor</a>
  <ul>
    {% for doctor in doctors %}
      <li>
        {{ doctor.DoctorName }} - {{ doctor.Specialty }}
        <a href="{% url 'update_doctor' doctor.DoctorID %}">Edit</a> |
        <a href="{% url 'delete_doctor' doctor.DoctorID %}">Delete</a>
      </li>
    {% endfor %}
  </ul>
{% else %}
  <p>You do not have permission to view this page.</p>
{% endif %}

{% endblock %}

