{% extends "base.html" %}

{% block content %}
<h2>Patient List</h2>
{% if user.is_authenticated %}
    <a href="{% url 'patient_create' %}">Create New Patient</a>
{% endif %}
<ul>
    {% for patient in patients %}
        <li>
            {{ patient.name }} - <a href="{% url 'patient_detail' patient.id %}">Details</a>
            {% if user == patient.created_by or user.is_staff %}
                | <a href="{% url 'patient_update' patient.id %}">Edit</a>
                | <a href="{% url 'patient_delete' patient.id %}">Delete</a>
            {% endif %}
        </li>
    {% endfor %}
</ul>
{% endblock %}



<!-- <h2>Patient List</h2>
<a href="{% url 'patient_create' %}">Create New Patient</a>
<ul>
    {% for patient in patients %}
        <li>
            <a href="{% url 'patient_detail' patient.pk %}">{{ patient.FirstName }} {{ patient.LastName }}</a>
            (<a href="{% url 'patient_update' patient.pk %}">Edit</a> |
            <a href="{% url 'patient_delete' patient.pk %}">Delete</a>)
        </li>
    {% endfor %}
</ul> -->

